# Introducción a Python: práctica y ejercicios

**NOTAS**
 - Hay muchas formas de resolver cada problema, encuentra la tuya.
 - Crea las celdas extra que necesites.
 - Recuerda que una celda puede ser de tipo Código, o de tipo Markdown. Utiliza las segundas para escribir texto y explicaciones si lo precisas.
 - Intenta crear variables a la hora de resolver los ejercicios.
 - Puedes apoyarte en internet: todos los programadores lo hacemos a diario.

[¿Qué es una librería en Python?](https://www.crehana.com/ec/blog/desarrollo-web/librerias-python/)

1. Enumera algunas de las librerías más importantes

streamlit, flask, requests, beautifulsoup, abc

2. Enumera algunas de las librerías más importantes para el Análisis de Datos

numpy, pandas, scikit-learn, keras, seaborn

3. Qué número es más grande, $10^9$ o $9^{10}$

In [3]:
10 ** 9 > 9 ** 10

False

Es más grande el número $9^{10}$

In [4]:
# other fancy option
if 10 ** 9 > 9 ** 10:
    print("Es más grande el de base 10")
else:
    print("Es más grande el de base 9")

Es más grande el de base 9

4. Tengo 500 euros en el banco. Los dejo 3 años con un interés compuesto del 2%. ¿Con cuánto dinero acabo?

In [17]:
money = 500
interest = 2
n_years = 3

In [18]:
money * (1 + 2 / 100) ** n_years

530.604

5. Cuántos años bisiestos ha habido desde el año 15 d.C.? Supongamos que es bisiesto aquel múltiplo de 4

In [35]:
counter = 0

for year in range(15, 2022):
    if year % 4 == 0:
        counter += 1

In [36]:
counter

502

6. El número 32851, ¿es divisible por 3? ¿Y por 7? ¿Por qué numeros menores que 20 es divisible?

In [37]:
n = 32851

In [44]:
n % 3

1

In [43]:
if n % 3 == 0:
    print(f"El número {n} es múltiplo de 3")
else:
    print(f"El número {n} NO es múltiplo de 3")

El número 32851 NO es múltiplo de 3

In [45]:
n % 7

0

In [61]:
for i in range(2, 20):
    if n % i == 0:
        print(f"El número {n} se puede dividir por {i}")

El número 32851 se puede dividir por 7
El número 32851 se puede dividir por 13
El número 32851 se puede dividir por 19

7. Sean los números $a =3.4$ y $b=6.3$. Sea además $c=a \times b$. Redondea los tres números a un entero. Haz lo mismo con $c$. ¿Qué observas?

In [75]:
a = 3.4
b = 6.3

In [76]:
c = a * b

In [77]:
round(a)

3

In [78]:
round(b)

6

In [79]:
round(c)

21

8. ¿Cuál es el logaritmo en base 10 de 100? ¿Y de 10.000? ¿Y de $10^{14}$?

In [81]:
import math

In [82]:
math.log10(100)

2.0

In [83]:
math.log10(10000)

4.0

In [84]:
math.log10(10 ** 14)

14.0

9. Evalúa las siguientes expresiones en tu cabeza. Luego ejecuta para saber el resultado.

In [100]:
3 > 2

True

In [106]:
len("pepe") < 6

True

In [102]:
2 ** 10 == 3 ** 6

False

In [107]:
(3 > 2) and (len("pepe") < 6)

True

In [108]:
(3 > 2) or (len("pepe") < 6)

True

In [109]:
True or False

True

In [110]:
True and False

False

In [111]:
not(True and True)

False

In [112]:
not(False and True)

True

In [113]:
False and False

False

10. Crea una variable con tu nombre y otra con tu ciudad. Ahora, resuelve programando:
 - ¿Qué palabra es más larga?
 - Chequea si alguna contiene la letra "m" en mayúsculas o minúsculas
 - ¿Coinciden en la última letra?
 - Crea un nombre nuevo eliminando la segunda letra de tu nombre.

In [138]:
name = "Manuel"

In [135]:
city = "Barcelona"

In [139]:
if len(name) > len(city):
    print(f"El nombre es más largo")
else:
    print("La ciudad es más larga")

La ciudad es más larga

In [142]:
("m" in name) or ("M" in name)

True

In [144]:
# equiv
"m" in name.lower()

True

In [147]:
name[-1] == city[-1]

False

In [156]:
name[0] + name[2:]

'Mnuel'

11. Crea una lista con 10 números enteros
 - ¿Cuál es el mayor?
 - ¿Hay alguno repetido? Intenta utilizar la funcion `set` e investiga sobre ésta.
 - Añade el número 100 a la lista.
 - Ordénala de mayor a menor.
 - ¿Está el número 5 en la lista?
 - ¿Cuál es la suma de todos los números? Añade un número a la lista de forma que sumen 5000.
 - Imprime aquellos que son múltiplos de 3.

In [157]:
num = [5, 6, 8, 33, 4, 8, 99, 10, -5, 0]

In [160]:
set(num)

{-5, 0, 4, 5, 6, 8, 10, 33, 99}

In [159]:
len(set(num)) == len(num)

False

In [161]:
num.append(100)

In [162]:
num

[5, 6, 8, 33, 4, 8, 99, 10, -5, 0, 100]

In [165]:
num.sort(reverse=True)

In [166]:
num

[100, 99, 33, 10, 8, 8, 6, 5, 4, 0, -5]

In [167]:
5 in num

True

In [168]:
sum(num)

268

In [169]:
5000 - sum(num)

4732

In [170]:
num.append(5000 - sum(num))

In [171]:
num

[100, 99, 33, 10, 8, 8, 6, 5, 4, 0, -5, 4732]

In [174]:
for n in num:
    if n % 3 == 0:
        print(n)

99
33
6
0

12. Dada la siguiente info sobre un usuario, averigua programando:
 - Su edad en el año 2050.
 - La ciudad en la que vive, escrita en mayúsculas.
 - Si está informado su código postal, es decir, si existe la key `postal_code`.
 - Si hace pie en una piscina de 170cm.
 - Cuántos amigos tiene.
 - Si su trabajo es "peluquero"

In [175]:
user = {
    "age": 33,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [179]:
import time

In [191]:
2050 - time.localtime().tm_year + user["age"]

61

In [193]:
user["city"].upper()

'MADRID'

In [196]:
"postal_code" in user.keys()

False

In [198]:
user["height"] > 1.70

True

In [202]:
len(user["friends"])

2

In [206]:
user["ocupacion"]["name"] == "peluquero"

False