<font size="6">Introducción a Python y al Análisis de datos</font>

por [Manuel López Sheriff](https://www.linkedin.com/in/sheriff-data/)

<tr>
    <td>
        <img width=400 src="https://cosasdedevs.com/media/sections/images/python.png">
    </td>
    <td>
        <img width=300 src="https://omdena.com/wp-content/uploads/2021/03/0_05j3R9S9Zx2px4Gj.jpg">
    </td>
</tr>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Python" data-toc-modified-id="Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Python</a></span><ul class="toc-item"><li><span><a href="#Variables-en-Python" data-toc-modified-id="Variables-en-Python-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Variables en Python</a></span><ul class="toc-item"><li><span><a href="#Strings" data-toc-modified-id="Strings-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Números" data-toc-modified-id="Números-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Números</a></span></li><li><span><a href="#Listas" data-toc-modified-id="Listas-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Listas</a></span></li></ul></li><li><span><a href="#Control-de-flujo-en-Python" data-toc-modified-id="Control-de-flujo-en-Python-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Control de flujo en Python</a></span><ul class="toc-item"><li><span><a href="#Condicionales" data-toc-modified-id="Condicionales-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Condicionales</a></span></li><li><span><a href="#Bucles" data-toc-modified-id="Bucles-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Bucles</a></span></li></ul></li><li><span><a href="#Funciones" data-toc-modified-id="Funciones-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Funciones</a></span><ul class="toc-item"><li><span><a href="#Intro" data-toc-modified-id="Intro-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Intro</a></span></li><li><span><a href="#Ejemplo-interés-compuesto" data-toc-modified-id="Ejemplo-interés-compuesto-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Ejemplo interés compuesto</a></span></li><li><span><a href="#Ejemplo-números-primos" data-toc-modified-id="Ejemplo-números-primos-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Ejemplo números primos</a></span></li><li><span><a href="#Ejemplo-palabras-del-diccionario" data-toc-modified-id="Ejemplo-palabras-del-diccionario-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Ejemplo palabras del diccionario</a></span></li></ul></li></ul></li><li><span><a href="#Análisis-de-Datos" data-toc-modified-id="Análisis-de-Datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Análisis de Datos</a></span><ul class="toc-item"><li><span><a href="#Importar-data" data-toc-modified-id="Importar-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Importar data</a></span></li><li><span><a href="#Tipo-de-las-variables" data-toc-modified-id="Tipo-de-las-variables-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Tipo de las variables</a></span></li><li><span><a href="#Valores-nulos" data-toc-modified-id="Valores-nulos-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Valores nulos</a></span></li><li><span><a href="#Análisis-univariantes" data-toc-modified-id="Análisis-univariantes-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Análisis univariantes</a></span><ul class="toc-item"><li><span><a href="#Sex" data-toc-modified-id="Sex-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Sex</a></span></li><li><span><a href="#Age" data-toc-modified-id="Age-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Age</a></span></li><li><span><a href="#Class" data-toc-modified-id="Class-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Class</a></span></li><li><span><a href="#Fare" data-toc-modified-id="Fare-2.4.4"><span class="toc-item-num">2.4.4&nbsp;&nbsp;</span>Fare</a></span></li><li><span><a href="#Cabin" data-toc-modified-id="Cabin-2.4.5"><span class="toc-item-num">2.4.5&nbsp;&nbsp;</span>Cabin</a></span></li><li><span><a href="#Survived" data-toc-modified-id="Survived-2.4.6"><span class="toc-item-num">2.4.6&nbsp;&nbsp;</span>Survived</a></span></li></ul></li><li><span><a href="#Análisis-bivariantes" data-toc-modified-id="Análisis-bivariantes-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Análisis bivariantes</a></span><ul class="toc-item"><li><span><a href="#Sex-vs-Survived" data-toc-modified-id="Sex-vs-Survived-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Sex vs Survived</a></span></li><li><span><a href="#Class-vs-Survived" data-toc-modified-id="Class-vs-Survived-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Class vs Survived</a></span></li><li><span><a href="#Age-vs-Fare" data-toc-modified-id="Age-vs-Fare-2.5.3"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Age vs Fare</a></span></li></ul></li></ul></li><li><span><a href="#Appendix" data-toc-modified-id="Appendix-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Appendix</a></span><ul class="toc-item"><li><span><a href="#Mean-vs-Median" data-toc-modified-id="Mean-vs-Median-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Mean vs Median</a></span></li></ul></li><li><span><a href="#Resources" data-toc-modified-id="Resources-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Resources</a></span></li></ul></div>

# Python

 * Creado en 1991
 * Simplicidad y legibilidad entre sus principales objetivos
 * Popular hoy para desarrollo web, automatización de procesos, análisis de datos
 * Instagram, Spotify, Netflix, Google y Dropbox, entre otros, lo utilizan

 * Funciona en Windows, Mac, Linux
 * Open source
 * Gran comunidad de desarrolladores
 * Librerías cuantiosas (biología, química, economía, estructuras, cálculo simbólico, análisis de textos, análisis de imágenes...)

## Variables en Python

La variable `age` contiene el objeto `17`  
La variable `name` contiene el objeto `"Juan"`

In [1]:
age = 17

In [2]:
name = "Juan"

Hay varios tipos de objeto en Python:
 * int: números enteros
 * float: números decimales
 * str: textos (strings)
 * bool: True / False
 * list: listas
 * ...

In [3]:
type(age)

int

In [4]:
type(name)

str

### Strings

 * Utilizadas para almacenar texto  
 * Su valor va entre comillas

In [5]:
name

'Juan'

In [6]:
saludo = "Hola"

In [7]:
frase = "Me gusta el arroz si lo como los domingos"

Podemos **concatenar** strings

In [8]:
saludo + name

'HolaJuan'

In [9]:
saludo + " " + name + name

'Hola JuanJuan'

Podemos checar si un string **contiene** un substring

In [10]:
"a" in name

True

In [11]:
"b" in name

False

Podemos checar la **longitud** de un string

In [12]:
frase

'Me gusta el arroz si lo como los domingos'

In [13]:
len(frase)

41

Podemos hacer operaciones varias sobre un string

In [14]:
name.upper()

'JUAN'

In [15]:
name.lower()

'juan'

In [16]:
name.replace("a", "e")

'Juen'

In [17]:
frase

'Me gusta el arroz si lo como los domingos'

In [18]:
frase.replace("a", "e")

'Me guste el erroz si lo como los domingos'

### Números

* Utilizadas para almacenar valores numéricos en Python
* Los tipos numéricos más comunes en Python son:
 * int: números enteros
 * float: números decimales

In [19]:
a = 2
b = 3
c = 0.5

In [20]:
type(a)

int

In [21]:
type(c)

float

Podemos aplicar operaciones **aritméticas** básicas

In [22]:
# suma
a + b

5

In [23]:
# multiplicación
b * c

1.5

In [24]:
# división
c / a

0.25

In [25]:
a, b

(2, 3)

In [26]:
# potencia
a ** b

8

In [27]:
# resto de división
23 % 5

3

### Listas

 * Utilizadas para almacenar colecciones de objetos en Python

In [28]:
groceries = ["manzanas", "peras", "queso", "cola", "cerveza", "fuet"]

In [29]:
type(groceries)

list

In [30]:
# longitud de la lista
len(groceries)

6

In [31]:
# check if contains
"manzanas" in groceries

True

In [32]:
"uvas" in groceries

False

In [33]:
ages = [12, 86, 35, 67, 44, 23, 12]

In [34]:
# get max, min
min(ages)

12

In [35]:
max(ages)

86

In [36]:
# sort values
ages.sort()

In [37]:
ages

[12, 12, 23, 35, 44, 67, 86]

## Control de flujo en Python

### Condicionales

En ocasiones, queremos que el código a ejecutar sea **dependiente en una condición**

In [38]:
age = 23

In [39]:
age

23

In [40]:
if age >= 18:
    print(f"Pasa a la disco, ya que tienes {age} años")
else:
    print(f"Vete a la disco light, ya que tienes {age} años")

Pasa a la disco, ya que tienes 23 años

In [41]:
name = "Manolo"

In [42]:
if "o" in name:
    print(f"El nombre {name} contiene la letra o")
else:
    print(f"El nombre {name} no contiene la letra o")

El nombre Manolo contiene la letra o

### Bucles

En ocasiones, queremos iterar sobre una lista (i.e. construir un bucle)

In [43]:
groceries

['manzanas', 'peras', 'queso', 'cola', 'cerveza', 'fuet']

In [44]:
for g in groceries:
    print(g.upper())

print("hola")

MANZANAS
PERAS
QUESO
COLA
CERVEZA
FUET
hola

**Ejercicio**: dada la lista de países del mundo, imprimir todos los países que contengan la letra "y"

In [45]:
countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [46]:
len(countries)

91

In [47]:
# your code here
for c in countries:
    if "y" in c:
        print(c.upper())

CYPRUS
EGYPT
GERMANY
GUYANA
HUNGARY
ITALY
IVORY COAST
KENYA

## Funciones

### Intro

En ocasiones, queremos constuir funciones, fragmentos de código que podamos reutilizar

In [48]:
# definimos una función
def square(n):
    # squares a number
    return n ** 2

In [49]:
# utilizamos la función
square(3)

9

In [50]:
# utilizamos la función
square(10)

100

### Ejemplo interés compuesto

In [51]:
def get_future_money(initial_money, yearly_rate_perc, n_years):
    return initial_money * (1 + yearly_rate_perc / 100) ** n_years

In [52]:
get_future_money(250, 4, 3)

281.216

In [53]:
get_future_money(1000, 2, 6)

1126.1624192640002

### Ejemplo números primos

**Ejercicio**: constuir una función que decida si un número es primo e identificar todos los primos menores que 40

NOTA: un número es primo si sólo puede dividirse por 1 y por sí mismo:  
 * 6, 9, 100 **no** son primos
 * 7, 11, 23 **sí** son primos

`a` es divisible por `b` si y solo si `a % b == 0`

In [54]:
def is_prime(n):
    for i in range(2, n):
        if n % i == 0:
            # print(f"{n} se divide por {i}")
            return False
    
    return True

In [55]:
is_prime(15)

False

In [56]:
is_prime(7)

True

In [57]:
is_prime(1563957323)

False

In [58]:
[i for i in range(400, 500) if is_prime(i)]

[401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499]

In [59]:
is_prime(421)

True

In [60]:
is_prime(479)

True

In [61]:
421 * 479

201659

In [62]:
201659 / 421

479.0

### Ejemplo palabras del diccionario

In [63]:
import pandas as pd

Tomemos las 40.000 palabras más comunes del español

In [64]:
df = pd.read_csv("./datasets/palabras_top.csv")

In [65]:
df["len"] = df.palabra.apply(len)

In [66]:
df.head(10)

  palabra  frec_norm  len
0      de   0.065546    2
1      la   0.041149    2
2     que   0.030689    3
3      el   0.029953    2
4      en   0.027755    2
5       y   0.027401    1
6       a   0.021375    1
7     los   0.017165    3
8      se   0.013257    2
9     del   0.012174    3

Preguntémos al diccionario

Palabras con todas las vocales

In [67]:
def has_all_vowels(word):
    for v in "aeiou":
        if v not in word:
            return False
    
    return True

In [68]:
has_all_vowels("restaurante")

False

In [69]:
has_all_vowels("ayuntamiento")

True

Qué palabras contienen todas las vocales?

In [70]:
df["all_v"] = df.palabra.apply(has_all_vowels)

In [71]:
df[df.all_v].sort_values("len").head(10)

         palabra  frec_norm  len  all_v
12759    aurelio   0.000006    7   True
29409    eulalio   0.000002    7   True
8049     euforia   0.000010    7   True
34223   touraine   0.000001    8   True
15620   equivoca   0.000004    8   True
24368   equipado   0.000002    8   True
7761    figueroa   0.000011    8   True
37430   abuelito   0.000001    8   True
29540   autorice   0.000002    8   True
32078  eucalipto   0.000002    9   True

# Análisis de Datos

Vamos a utilizar un dataset de los pasajeros del Titanic

<tr>
    <td>
        <img width=400 src="https://upload.wikimedia.org/wikipedia/commons/3/31/TitanicBeken.jpg">
    </td>
    <td>
        <img width=400 src="https://i0.wp.com/hipertextual.com/wp-content/uploads/2019/03/hipertextual-primera-pelicula-sobre-titanic-protagonizo-actriz-superviviente-catastrofe-2019738535.jpg?fit=1500%2C1000&ssl=1">
    </td>
</tr>

In [72]:
# librerías de plotting
import seaborn as sns
import matplotlib.pyplot as plt

In [73]:
plt.rcParams["figure.figsize"] = (9, 6)

## Importar data

In [74]:
import pandas as pd

In [75]:
df = pd.read_csv("./titanic.csv")

FileNotFoundError: [Errno 2] File b'./titanic.csv' does not exist: b'./titanic.csv'

In [ ]:
df.shape

In [ ]:
df.head()

## Tipo de las variables

In [76]:
df.dtypes

palabra       object
frec_norm    float64
len            int64
all_v           bool
dtype: object

Para la librería `pandas`, `object` quiere decir string

## Valores nulos

In [77]:
df.isna().sum()

palabra      0
frec_norm    0
len          0
all_v        0
dtype: int64

Hay algunos valores nulos: 
 * 263 pasajeros sin la edad informada
 * 1 sin la cuota informada 
 * 1014 sin la Cabina que utilizaron informada
 * 2 sin la puerta de embarque informada

## Análisis univariantes

In [78]:
df.head()

  palabra  frec_norm  len  all_v
0      de   0.065546    2  False
1      la   0.041149    2  False
2     que   0.030689    3  False
3      el   0.029953    2  False
4      en   0.027755    2  False

### Sex

In [79]:
import seaborn as sns

In [80]:
df.Sex.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [ ]:
sns.countplot(x=df.Sex)

### Age

In [81]:
import numpy as np

In [82]:
df.Age.min()

AttributeError: 'DataFrame' object has no attribute 'Age'

In [ ]:
df.Age.max()

In [ ]:
df.Age.mean().round(1)

In [ ]:
df.Age.median()

In [ ]:
df.Age.quantile(np.linspace(0, 1, 5))

In [83]:
sns.distplot(df.Age)

AttributeError: 'DataFrame' object has no attribute 'Age'

### Class

In [84]:
df.Pclass.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Pclass'

In [ ]:
sns.countplot(x=df.Pclass, palette="Blues_r")

### Fare

In [85]:
df.Fare.min()

AttributeError: 'DataFrame' object has no attribute 'Fare'

In [ ]:
df.Fare.max()

In [ ]:
df.Fare.mean().round(1)

In [86]:
df.Fare.median()

AttributeError: 'DataFrame' object has no attribute 'Fare'

In [ ]:
df.Fare.quantile(np.linspace(0, 1, 5))

In [ ]:
sns.histplot(df.Fare)

In [ ]:
df[df.Fare > 300]

### Cabin

In [87]:
df.Cabin.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Cabin'

Demasiadas cabinas diferentes para pintar barritas

In [88]:
sns.countplot(x=df.Cabin, palette="Blues_r")

AttributeError: 'DataFrame' object has no attribute 'Cabin'

In [ ]:
df.Cabin.nunique()

Inventemos una variable que sea la primera letra de la cabina

In [89]:
df["Cabin_letter"] = df.Cabin.str[0]

AttributeError: 'DataFrame' object has no attribute 'Cabin'

In [ ]:
sns.countplot(x=df.Cabin_letter)

### Survived

In [90]:
df.Survived.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Survived'

In [ ]:
sns.countplot(x=df.Survived, palette=["Red", "Green"])

## Análisis bivariantes

### Sex vs Survived

In [91]:
pd.crosstab(df.Sex, df.Survived)

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [ ]:
sns.countplot(x=df.Survived, hue=df.Sex)

In [ ]:
sns.countplot(x=df.Sex, hue=df.Survived, palette=["Red", "Green"])

### Class vs Survived

In [92]:
pd.crosstab(df.Pclass, df.Survived)

AttributeError: 'DataFrame' object has no attribute 'Pclass'

In [ ]:
sns.countplot(x=df.Survived, hue=df.Pclass)

In [ ]:
sns.countplot(x=df.Pclass, hue=df.Survived, palette=["Red", "Green"])

### Age vs Fare

In [93]:
sns.scatterplot(x=df.Age, y=df.Fare)

AttributeError: 'DataFrame' object has no attribute 'Age'

# Appendix

## Mean vs Median

In [94]:
salaries_home = [1000, 1200, 1500, 1800, 2000]

El salario medio es: $$\bar{x} = \frac{1000+1200+1500+1800+2000}{5}=1500$$

El salario mediano es el que tiene la persona del centro, si las ordenamos de menor a mayor:  
$$\tilde{x}=1500$$

El salario mediano es aquel salario tal que la mitad de las personas cobran más y la mitad menos.

In [95]:
salaries_company = [500, 500, 500, 1000, 1000, 2000, 2000, 2000, 100000]

The mean salary is: $$\bar{x} = 12000$$

The median salary is the salary of the person in the middle: $$\tilde{x}=1000$$

**Conclusion**: the **median** is generally more representative than the mean

# Resources

[Installing Python and jupyter (through Anaconda distribution)](https://jupyter.readthedocs.io/en/latest/install/notebook-classic.html)

[Project Euler](https://projecteuler.net/): problemas matemáticos para resolver programando!!

[Google Colaboratory](https://research.google.com/colaboratory/):
 * Work with notebooks online (no need to install in your computer)
 * Practise with some introductory notebooks provided by Google)

[Python tutorial for beginners](https://python.land/python-tutorial)

[Installing Python and jupyter (through Anaconda distribution)](https://jupyter.readthedocs.io/en/latest/install/notebook-classic.html)

[Towards Data Science (Medium)](https://towardsdatascience.com/): artículos más y menos técnicos sobre Data

[Aprende Python con Alf](https://aprendeconalf.es/docencia/python/manual/)

[Codewars](https://www.codewars.com/): entrena Python resolviendo retos

[Youtube canal: DotCSV](https://www.youtube.com/c/DotCSV)

[Manuel López Sheriff](https://www.linkedin.com/in/sheriff-data/)