<img width=300 src="https://www.lectiva.com/assets/es/logos/centro/id/1156394/size/m.jpg">

# Introducción a Python

por [Manuel López Sheriff](https://www.linkedin.com/in/sheriff-data/)

<img width=800 src="https://media2.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif">

## Python

### Qué es

 * Lenguaje de programación
 * Creado en 1991
 * Simplicidad y legibilidad entre sus principales objetivos
 * Popular hoy para desarrollo web, automatización de procesos, análisis de datos
 * Instagram, Spotify, Netflix, Google y Dropbox, entre otros, lo utilizan

 * Funciona en Windows, Mac, Linux
 * Open source
 * Gran comunidad de desarrolladores
 * Librerías cuantiosas (biología, química, economía, estructuras, cálculo simbólico, análisis de textos, análisis de imágenes...)

### Programar en Python

Jupyter es una interfaz ideal para aprender a programar en Python. Sus archivos se llaman **notebooks** y tienen extensión `.ipynb` (como este mismo archivo)

[Google Colaboratory](https://research.google.com/colaboratory/): similar a Google Docs o Google Sheets, sirve para trabajar con notebooks online (sin necesidad de instalar Python y Jupyter en tu ordenador)

### Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Objetos y variables

Hay varios tipos de **objeto** en Python:
 * int: números enteros
 * float: números decimales
 * str: textos (strings)
 * bool: True / False
 * list: listas
 * dict: diccionarios
 * ...

In [5]:
type(4)

int

In [6]:
type(5.67)

float

In [7]:
type("Ivana Rodríguez Santos")

str

In [8]:
type("pepe@gmail.com")

str

Podemos crear **variables** para almacenar objetos

In [22]:
money = 149.78

In [20]:
type(money)

float

In [23]:
money + 3

152.78

In [24]:
money * 1.03

154.2734

In [25]:
name = "Juan"

In [26]:
type(name)

str

In [10]:
type(True)

bool

In [11]:
type([4, 5, 6])

list

In [27]:
info = {
    "name": "Francisco",
    "surname": "Nadal",
    "age": 41,
    "is_active_subcription": False
}

In [28]:
type(info)

dict

## Números enteros (int)

In [2]:
edad = 19

In [3]:
type(edad)

int

## Números reales (float)

In [4]:
temp = 35.6

In [8]:
type(temp)

float

## Operaciones básicas

In [30]:
a = 3
b = 4
c = 0.8

In [31]:
# suma

In [32]:
# resta

In [33]:
# multiplicacion

In [34]:
# division

In [35]:
# division entera

In [37]:
# resto división

In [38]:
# potencia

In [40]:
# valor absoluto

In [41]:
# redondeo

In [42]:
# logaritmo

## Booleanos

In [43]:
bool(0)

False

In [49]:
True

True

In [50]:
False

False

In [51]:
type(True)

bool

In [52]:
0.5 == .5    # igualdad matematica

True

In [53]:
50 < 500   # menor que...

True

In [54]:
50 > 500   # mayor que...

False

In [55]:
not True

False

In [44]:
not (False and True)

True

In [45]:
(not False) or (not True)

True

## Valores nulos (None)

In [1]:
None

In [2]:
type(None)

NoneType

## Cadenas de caracteres (str)

In [133]:
nombre = "juan"

In [134]:
apellido = "vázquez"

In [135]:
type(nombre)

str

In [136]:
frase = "Me gusta el arroz"

In [137]:
frase + nombre

'Me gusta el arrozjuan'

In [139]:
nombre + apellido

'juanvázquez'

In [138]:
nombre + " " + apellido

'juan vázquez'

In [141]:
nombre * 4.1

TypeError: can't multiply sequence by non-int of type 'float'

In [142]:
nombre

'juan'

In [149]:
# check contains
"a" in nombre

True

In [150]:
# check contains
"an" in nombre

True

In [151]:
# check contains
"ana" in nombre

False

In [152]:
# check contains
"jn" in nombre

False

In [153]:
len(nombre)

4

`len` is a function that operates on string variable `frase`

In [154]:
frase

'Me gusta el arroz'

In [160]:
len(frase)

17

`upper` es un **método** para pasar a mayúsculas

In [ ]:
upper(nombre)

In [161]:
nombre.upper()

'JUAN'

In [162]:
nombre.lower()

'juan'

In [163]:
nombre.endswith('n')

True

In [164]:
nombre.capitalize()

'Juan'

In [165]:
nombre.replace("a", "e")

'juen'

Slicing

In [166]:
frase

'Me gusta el arroz'

In [167]:
frase[0]

'M'

In [168]:
frase[4]

'u'

In [169]:
frase[-1]

'z'

In [170]:
frase[3:10]

'gusta e'

In [174]:
frase[10:]

'l arroz'

In [175]:
frase[:10]

'Me gusta e'

In [176]:
frase[-3:]

'roz'

In [177]:
frase[:-3]

'Me gusta el ar'

In [178]:
frase[-7:-3]

'l ar'

In [183]:
frase.split()

['Me', 'gusta', 'el', 'arroz']

In [184]:
palabras = frase.split()

In [187]:
palabras

['Me', 'gusta', 'el', 'arroz']

In [188]:
type(palabras)

list

In [189]:
frase.split("a")

['Me gust', ' el ', 'rroz']

In [197]:
email = "micorreo_amigo@yahoo.com"

In [198]:
email.split("@")[1].split(".")[0]

'yahoo'

## Listas

In [4]:
nombres = ["Rafa", "Pepe", "Sonia", "Javi", 5, True, "Pepe"]

In [5]:
type(nombres)

list

In [6]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe']

In [7]:
# añadir elementos
nombres.append("Jose")

In [8]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

Slicing

In [9]:
nombres[0]

'Rafa'

In [10]:
nombres[1:3]

['Pepe', 'Sonia']

In [229]:
nombres[:3]

['Rafa', 'Pepe', 'Sonia']

In [230]:
nombres[2:]

['Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [11]:
nombres

['Rafa', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [12]:
# asignación
nombres[0] = "Rafa R."

In [13]:
nombres

['Rafa R.', 'Pepe', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [14]:
nombres.remove("Pepe")

In [15]:
nombres

['Rafa R.', 'Sonia', 'Javi', 5, True, 'Pepe', 'Jose']

In [16]:
nombres.remove("Jose")

In [17]:
nombres

['Rafa R.', 'Sonia', 'Javi', 5, True, 'Pepe']

In [18]:
nombres.reverse()

In [19]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [20]:
"Pepe" in nombres

True

In [21]:
"Pep" in nombres

False

In [22]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [23]:
if "Sonia" not in nombres:
    print("Hola")
else:
    print("Holi")

Holi

In [24]:
equipos = ["RM", "Barca", "Zgz"]

In [25]:
nombres

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.']

In [26]:
equipos

['RM', 'Barca', 'Zgz']

In [27]:
nombres + equipos

['Pepe', True, 5, 'Javi', 'Sonia', 'Rafa R.', 'RM', 'Barca', 'Zgz']

In [28]:
equipos * 3

['RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz', 'RM', 'Barca', 'Zgz']

In [29]:
len(nombres)

6

In [30]:
edades = [12, 86, 35, 67, 44, 23, 12]

In [31]:
edades

[12, 86, 35, 67, 44, 23, 12]

In [32]:
type(edades)

list

In [33]:
min(edades)

12

In [34]:
max(edades)

86

In [35]:
edades.count(12)

2

In [288]:
nombres.sort()

In [290]:
edades.sort(reverse=True)

In [291]:
edades

[86, 67, 44, 35, 23, 12, 12]

In [293]:
amigos_de_students = [["Pepe", "Javi"], ["Paula", "Roćio", "Santi"]]

In [294]:
len(amigos_de_students)

2

In [300]:
amigos_de_students[0]

['Pepe', 'Javi']

In [296]:
amigos_de_students[1]

['Paula', 'Roćio', 'Santi']

In [303]:
amigos_de_students[1][1].upper()

'ROĆIO'

In [305]:
paises = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua & Deps", "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", "Bosnia Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Rep", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Congo {Democratic Rep}", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland {Republic}", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea North", "Korea South"]

In [306]:
len(paises)

91

**Motivación**: imprime los países que contengan la letra **r**

## Diccionarios

In [41]:
# mal
manu = [33, "manuel", "Madrid", 1.84, False]

In [43]:
# bien
persona = {
    "age": 33,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

In [44]:
persona

{'age': 33,
 'name': 'Manuel',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [381]:
type(persona)

dict

In [385]:
persona["age"]

31

In [386]:
persona["name"]

'Manuel'

In [389]:
persona["name"] = "Manuel Lopez"

In [390]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100}}

In [391]:
persona["country"]

KeyError: 'country'

In [392]:
# add new key, value pair to a dictionary
persona["country"] = "Spain"

In [393]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 3, 'salario': 100},
 'country': 'Spain'}

In [402]:
cities_population = {
    "Madrid": 6_000_000,
    "Barcelona": 5_000_000,
    "Sevilla": 2_000_000
}

In [403]:
cities_population["Barcelona"]

5000000

In [404]:
cities_population["Madrid"]

6000000

In [405]:
cities_population["Paris"]

KeyError: 'Paris'

In [406]:
persona

{'age': 31,
 'name': 'Manuel Lopez',
 'city': 'Madrid',
 'height': 1.84,
 'has_children': False,
 'friends': ['Juan', 'Luis'],
 'ocupacion': {'name': 'profe', 'tiempo': 8, 'salario': 100},
 'country': 'Spain'}

In [407]:
persona.keys()

dict_keys(['age', 'name', 'city', 'height', 'has_children', 'friends', 'ocupacion', 'country'])

## Recap

 * Existen varios tipos de objeto en Python
 * Almacenamos objetos en variables
 * Números, strings y booleanos son los más utilizados
 * Listas y diccionarios son muy importantes

## Contenidos extra

[Project Euler](https://projecteuler.net/): problemas matemáticos para resolver programando!!

[Python tutorial for beginners](https://python.land/python-tutorial)

[Aprende Python con Alf](https://aprendeconalf.es/docencia/python/manual/)

[Codewars](https://www.codewars.com/)